@import './settings';
body {
	font-family: Helvetica, sans-serif;
	background-color: $back-color;
	font-size: $m-size;
}

html {
	font-size: 62.5%;
}

button {
	cursor: pointer;
	&:default {
		cursor: default;
	}
}
